button {
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#imgWrapper {
    /* width: 700px; */
    margin-top: 20px;
}

#imgWrapper table {
    width: 70%;
}

#answersTable img {
    height: 60px;
}

.right {
    color: green;
}

.wrong {
    color: red;
}

#next {
    width: 20%;
}