body {
    font-family: 'Chakra Petch', sans-serif;
}

h3 {
    margin-bottom: 1rem;
}

button {
    box-sizing: border-box;
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 44%;
    height: 3rem;
    font-size: 0.8rem !important;
    line-height: 1.3 !important;
    font-family: 'Chakra Petch', sans-serif;
}

#next {
    width: 44%;
}

#studentImg {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    max-width: 85%;
    height: auto;
}

#final {
    background-color: rgba(255, 190, 70, 0.418);
    border: rgba(255, 190, 70, 0.418) solid 1px;
    border-radius: 7px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#final p {
    margin: 0.5rem;
}

.tableData {
    width: 20%;
}

.tableData img {
    max-width: 75px !important;
}

#again {
    width: 80%;
    font-size: 0.9rem !important;
}

@media (min-width: 767.98px) {
    #studentImg {
        max-width: 400px !important;
    }
    table {
        width: 75% !important;
        margin: auto;
    }
    #again {
        width: 50%;
        font-size: 1rem !important;
    }
}

@media (min-width: 991.98px) {
    #answers {
        width: 70%;
    }
    #again {
        width: 35% !important;
    }
}

@media (min-width: 1023.98px) {
    button {
        width: 15%;
    }
    #answers {
        width: 100%;
    }
    #next {
        max-width: 30%;
    }
}