button {
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 45%;
    height: 4rem;
}

.right {
    color: green;
}

.wrong {
    color: red;
}